body {
  color: rgb(250, 250, 210);
  background-color: pink;
  font-family: sans-serif;
}

/* hexcode example, found online */
header {
  background-color: pink;
}

footer {
  background-color: pink;
}

/* RGB example, found online */
section {
  background-color: beige;
}

/* Styles for my contact page */
.contact-header {
  background-color: pink;
}

.contact-nav {
  background-color: pink;
}