body {
  color: pink;
  background-color: pink;
  font-family: sans-serif;
}

/* hexcode example, found online */
header {
  background-color: khaki;
}

footer {
  background-color: khaki;
}

/* RGB example, found online */
section {
  background-color: khaki;
}

/* Styles for my contact page */
.contact-header {
  background-color: khaki;
}

.contact-nav {
  background-color: pink;
}